/* Scrollable chat history */
.chatHistory {
    background-color: #f3f2f1;
    padding: 10px;
    margin: 10px 0px;
    overflow: auto;
    border: 2px solid;
    flex: 1;
    flex-basis: 0;
    text-align: left;

    .listItem {
        display: flex;

        .icon {
            height: 40px;
            width: 40px;
            border-radius: 2em;
            margin: 0px 10px;
            flex: 0 0 40px;
        }

        .icon.user {
            background-color: #b1b4b6;
        }

        .icon.ai {
            background-color: #1d70b8;
        }

        &.left {
            justify-content: flex-start;
        }

        &.right {
            justify-content: flex-end;
        }
    }

    & section {
        margin-bottom: 10px;
        width: fit-content;
        display: flex;

        &.userMessage {
            flex-direction: row-reverse;
        }

        &.aiMessage {
            flex-direction: row;
        }
    }

    & .message {
        margin: 0;
        padding: 10px;
        margin-bottom: 5px;
        white-space: pre-wrap;

        &.user {
            background-color: white;
        }

        &.ai {
            background-color: #5694ca;
            color: white;
        }
    }

    .from {
        margin: 0;
        font-size: 0.8rem;
        color: #505a5f;
    }
}

/* Form elements used to send the user input*/
.formGroup {
    margin-bottom: 0;

    button {
        margin-left: 5px;
        margin-bottom: 0;
        width: auto;
    }
}

.chatFormFieldInline {
    display: flex;
    align-items: baseline;
}

.textArea{
    resize: none;
}