.code{
    white-space: break-spaces;
    overflow-wrap: anywhere;
    text-align: justify;
}

.tabLoading{
    display: flex;
    align-items: center;
}

.continueLink{
    color: #1d70b8;
    text-decoration: underline;
    cursor: pointer;
}

.textareaToken{
    margin-bottom: 5px;
}

.barEnd{
    display: flex;

    & a {
        margin-left: 10px;
    }
}