.historyTable {
    display: flex; 
    flex-Direction: column; 
    align-Items: center;
}

.copyButton {
    margin: 10px 0;
}

.userSummary {
    margin-top: 15px;
}

.previewButton {
    margin-bottom: 1em;
}