.inputArea {
    .label{
        margin-bottom: 10px;
    }

    .button{
        margin-bottom: 2px;
    }

    .titleBox{
        margin-bottom: 20px;
    }

    .descBox{
        margin-bottom: 20px;
    }
    
}
