.previewGridCol {

    .copyButton {
        margin-bottom: 0px;
    }

    .divOutput {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.inputArea {

    .button{
        margin-bottom: 2px;
    }

    .titleBox{
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .descBox{
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .checkbox{
        margin-left: 0%;
        margin-bottom: 5%;

        .checkLabel{
            display: contents;
        }
    }
    
}

.rawMD {
    padding-top: 10px;
    padding-left: 15px;
    
    .button {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

.historyResponse {

    pre {
        white-space: pre-wrap;
    }
}

.govTagSmall{
    font-size: 0.7rem;
}