@import "node_modules/govuk-frontend/govuk/all";

@font-face {
    font-family: GDS Transport;
    font-style: normal;
    font-weight: 400;
    src: local('GDS Transport'), 
        url(fonts/light-94a07e06a1-v2.woff2) format("woff2"),url(fonts/light-f591b13f7d-v2.woff) format("woff");
    font-display: fallback
}

@font-face {
    font-family: GDS Transport;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/bold-b542beb274-v2.woff2) format("woff2"),url(fonts/bold-affa96571d-v2.woff) format("woff");
    font-display: fallback
}

@font-face {
    font-family: nta;
    font-style: normal;
    font-weight: 400;
    src: local('GDS Transport'), 
        url(fonts/light-94a07e06a1-v2.woff2) format("woff2"),url(fonts/light-f591b13f7d-v2.woff) format("woff");
    font-display: fallback
}

@font-face {
    font-family: nta;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/bold-b542beb274-v2.woff2) format("woff2"),url(fonts/bold-affa96571d-v2.woff) format("woff");
    font-display: fallback
}

@font-face {
    font-family: "DVLA-VRM-Regular";
    src: url(fonts/DVLA-VRM-ea424d81e1dc91a8d11e.woff) format("woff2");
}

body{
    margin: 0;
}

.reg-mark,
.reg-mark-title,
.reg-mark-sm,
.reg-mark-banner {
    max-width: 210px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    font-family: "DVLA-VRM-Regular", Verdana, sans-serif;
    background-color: #ffd307;
    padding: .2em .4em .2em .5em;
    border-radius: .25em;
    text-transform: uppercase;
}

.reg-mark-sm,
.reg-mark-title,
.reg-mark-banner {
    width: 122px;
    padding: 0;
    display: inline-block;
    height: 34px;
    font-size: 26px;
    border: .13em solid #333;
}

.govuk-summary-list__key,
.govuk-summary-list__value,
.govuk-summary-list__actions {
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
}

/*
This is left on purpose making default.css the single file that can be lifted
as-is from the repository directly without the need for a build step

Typically this "required" baseline CSS is added by `makestuff.js` during build.
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}
/* end baseline CSS */

.hljs {
    /* var(--highlight-color) */
    color: #2f3337;
    /* var(--highlight-bg) */
    background: #f6f6f6;
  }
  
  .hljs-subst {
    /* var(--highlight-color) */
    color: #2f3337;
  }
  
  .hljs-comment {
    /* var(--highlight-comment) */
    color: #656e77;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-meta .hljs-keyword,
  .hljs-doctag,
  .hljs-section {
    /* var(--highlight-keyword) */
    color: #015692;
  }
  
  .hljs-attr {
    /* var(--highlight-attribute); */
    color: #015692;
  }
  
  .hljs-attribute {
    /* var(--highlight-symbol) */
    color: #803378;
  }
  
  .hljs-name,
  .hljs-type,
  .hljs-number,
  .hljs-selector-id,
  .hljs-quote,
  .hljs-template-tag {
    /* var(--highlight-namespace) */
    color: #b75501;
  }
  
  .hljs-selector-class {
    /* var(--highlight-keyword) */
    color: #015692;
  }
  
  .hljs-string,
  .hljs-regexp,
  .hljs-symbol,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-link,
  .hljs-selector-attr {
    /* var(--highlight-variable) */
    color: #54790d;
  }
  
  .hljs-meta,
  .hljs-selector-pseudo {
    /* var(--highlight-keyword) */
    color: #015692;
  }
  
  .hljs-built_in,
  .hljs-title,
  .hljs-literal {
    /* var(--highlight-literal) */
    color: #b75501;
  }
  
  .hljs-bullet,
  .hljs-code {
    /* var(--highlight-punctuation) */
    color: #535a60;
  }
  
  .hljs-meta .hljs-string {
    /* var(--highlight-variable) */
    color: #54790d;
  }
  
  .hljs-deletion {
    /* var(--highlight-deletion) */
    color: #c02d2e;
  }
  
  .hljs-addition {
    /* var(--highlight-addition) */
    color: #2f6f44;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  
  .hljs-formula,
  .hljs-operator,
  .hljs-params,
  .hljs-property,
  .hljs-punctuation,
  .hljs-tag {
  }